/*****************************
*************** MOBILE STYLES
*****************************/

/* wrapper */
.content-wrapper {
	padding: 1em;
}

/* header */
.bar-stable {
	width: 100%;
}

#favorites {
	color: #fff;
	border: thin solid #EE674F;
	border-radius: 100%;
	background-color: #EE674F;
}

h2 {
	color: #96C93C;
}

/* images */
#meals img, #snacks img, #treats img {
	width:100%;
}

/***************************************
*************** TABLET STYLES LANDSCAPE
***************************************/
@media screen and (min-width: 800px) {

	#meals, #snacks {
		margin-bottom:1.5em;
	}

	#meals img, #snacks img, #treats img {
		width: 24.7%;
	}

	.captions {
		margin: 0;
		padding: 0;
		font-size: .8em;
		display: block;
		width:24.7%;
	}

}